body{
	background-color: blue;
	text-align: center;
}
#Overlord{
	
	/* Set height to device height. */
	height: 100vh;
	position: relative;
	/* Background image (unblurred) centering and cropping */
	background-color: blue;
	
	/* Center div */
	padding: 0%;
	z-index: 0;

}

#Title{
	position: relative;
	display: block;
	top: 5vh;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width:400px;	
}


/* All elements inside this div are positioned absolutely (except computer)
and fit inside the computer. Just change the width, left, and top
values to get precise position. Use percentages. Going into chrome
inspector is a fast way of getting exact values. */
#Interface{
	position: relative;
	top: 9vh;
	width: auto;
	display: inline-block;
}

/* CRT Overlay that goes between the computer and the buttons, fit precisely to the computer screen. */
#overlay2 {
    position:absolute;
    top:18.5%; bottom:13.3%; left:10%; right:10%;
    display:block;
    z-index:6;
    background:transparent;

}
#Computer{
	position: relative;
	top: 3%;
	margin: auto;
	width: 100%;	
	max-width:500px;
	z-index: 5;
}

#Shadow{
	position: absolute;
	left: 1%;
	top: 75%;
	margin: auto;
	width: 98%;	
	max-width:490px;
	height: 29%;
	background-color: black;
	filter: blur(4px);
	z-index: 1;
	opacity: 80%;
}


#Buttons{
    display: inline-block;
    position: absolute;
    margin: auto;
    width: 75%;
    left: 12%;
    top: 24%;
    z-index: 7;
}

 #OKAY{
		display: inline-block;
		position: absolute;
		width: 21%;
		left: 11%;
		top: 58%;
		z-index: 5;
	}
 


/* Container for Listen Links */
#Listen{
	left: 12.8%;
    top: 24.4%;
    width: 73.3%;
    height: 20.5%;
    display: inline-block;
    position: absolute;
    z-index: 8;
}

/*Makes buttons transparent and sets button size */
.Transparent{
	background: transparent;
    border: none;
    color: transparent;
    width: 32%;
    height: 50%;
	cursor: pointer;

}


/* The following id's affect the position of each button */
#Spotify{position: absolute; top: 0%; left: 0%;}
#Apple{position: absolute; top: 0%; left: 34%;}
#Youtube{position: absolute; top: 0%; left: 67.7%;}
#Tidal{position: absolute; top: 65%; left: 16.1%;}
#Bandcamp{position: absolute; top: 65%; left: 50%;}


#Socials{
	position: absolute;
	left: 14%;
	top: 54%;
	width: 14%;
	display: block;
	z-index: 8;
	font-size:4.5vw; /*percentages don't work for fonts. use vw*/
	font-style: italic;
	text-shadow: 1px 1px black;
}

a:link{
	color: #3366CC;
}
a:hover{
	color: #0645AD;
}
a:visited{
	color: #0645AD;
}

#Cover{
	display: inline-block;
	position: absolute;
	width: 21%;
	left: 65%;
	top: 57%;
	z-index: 5;
	animation: tilt linear 5s infinite;
	box-shadow: 0 0 10px #222222;
	}

@keyframes tilt {
	0%{
		transform: skewY(10deg);
	}
	50%{
		transform: skewY(-10deg);
	}
	100%{
		transform: skewY(10deg);
	}
	
}


@media screen and (min-width: 500px) {
	#Socials{
		position: absolute;
		left: 14%;
		top: 54%;
		width: 14%;
		display: block;
		z-index: 8;
		font-size:22.5px; /* max-width of computer is 500px, 500*0.045=22.5px */
		font-style: italic;
	}
  }

  .marquee {
	height: 20px;
	overflow: hidden;
	position: relative;
	background: #000000;
	color: #ffff33;
	border: 1px solid yellow;
}

.marquee p {
	position: absolute;
	font-size: 15px;
	width: 200%;
	max-width:720px;
	height: 15px;
	margin: 0;
	line-height: 20px;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 2s linear infinite;
	-webkit-animation: scroll-left 2s linear infinite;
	animation: scroll-left 10s linear infinite;
	font-family: monospace;
}

@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

 